body {
    font-family: 'Muli', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    padding-top: 54px;
    color: #868e96;
    background-color: #eeeeee;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        padding-left: 17rem;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    font-size: 1.5rem;
}

.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}

.reporte {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
    color: rgba(255, 255, 255, .5);
    -webkit-appearance: none !important;
}

.modal-lg {
    max-width: 1000px !important;
}

.reporte:hover {
    color: rgba(255, 255, 255, .8);
    text-decoration: none !important;
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    background-color: #F50057;
}

.dev-icons {
    font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
    color: #F50057;
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
    outline-color: #F50057;
}

.contador {
    width: 120px;
    height: 60px;
    background: white;
    position: fixed;
    right: 0px;
    top: 45%;
    z-index: 999;
    padding: 5px;
    border-radius: 5px 0px 0px 5px;
    text-align: center;
    box-shadow: 1px 1px 20px 5px rgba(0, 0, 0, 0.295);
}

@media (min-width: 992px) {
    #sideNav {
        text-align: center;
        position: fixed;
        top: 0;
        left: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 18rem;
        height: 100vh;
    }
    #sideNav .navbar-brand {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: auto auto 0;
        padding: 0.5rem;
    }
    #sideNav .navbar-brand .img-profile {
        max-width: 10rem;
        max-height: 10rem;
        border: 0.5rem solid rgba(255, 255, 255, 0.2);
    }
    #sideNav .navbar-collapse {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        width: 100%;
        margin-bottom: auto;
    }
    #sideNav .navbar-collapse .navbar-nav {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        width: 100%;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item {
        display: block;
    }
    #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
        display: block;
    }
}

section.resume-section {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
    min-width: none;
}

@media (min-width: 768px) {
    section.resume-section {
        min-height: 100vh;
    }
    section.resume-section .resume-item .resume-date {
        min-width: 18rem;
    }
}

@media (min-width: 992px) {
    section.resume-section {
        padding-top: 3rem !important;
        padding-bottom: 3rem !important;
    }
}

.bg-primary {
    background-color: #212121 !important;
}

.text-primary {
    color: #F50057 !important;
}

a {
    color: #F50057;
}

a:hover,
a:focus,
a:active {
    color: #F50057;
}

.skill {
    margin-bottom: 25px;
}

.porcentContainer {
    width: 100%;
    height: 10px;
    background-color: white;
    position: relative;
}

.porcentContainer .porcent {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-color: #F50057;
}

.porcent::after {
    content: "";
    position: absolute;
    top: -30px;
    right: 0;
    color: #F50057;
    background-color: white;
    padding: 1px 10px;
    border-radius: 3px;
    font-size: .8em;
    border: 1px solid #F50057;
}

.porcent-20 {
    width: 20%;
}

.porcent-30 {
    width: 30%;
}

.porcent-40 {
    width: 40%;
}

.porcent-50 {
    width: 50%;
}

.porcent-60 {
    width: 60%;
}

.porcent-70 {
    width: 70%;
}

.porcent-80 {
    width: 80%;
}

.porcent-90 {
    width: 90%;
}

.porcent-100 {
    width: 100%;
}

.porcent-20::after {
    content: "20%" !important;
}

.porcent-30::after {
    content: "30%" !important;
}

.porcent-40::after {
    content: "40%" !important;
}

.porcent-50::after {
    content: "50%" !important;
}

.porcent-60::after {
    content: "60%" !important;
}

.porcent-70::after {
    content: "70%" !important;
}

.porcent-80::after {
    content: "80%" !important;
}

.porcent-90::after {
    content: "90%" !important;
}

.porcent-100::after {
    content: "100%" !important;
}

.team {
    width: 100%;
    height: 500px;
    background-image: url("../img/team.jpg");
    background-size: cover;
    background-position: center top;
}

.namePerson {
    margin-left: 175px;
    position: relative;
    margin-bottom: 50px;
}

.namePerson::after {
    content: "";
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-color: white;
    border: 3px solid #eeeeee;
    position: absolute;
    left: -175px;
    top: -50%;
}

.resume-item {
    margin-left: 175px;
}

#Id1035418599 .namePerson::after {
    background-image: url("../img/JuanRuiz.jpg");
    background-size: cover;
    background-position: center center;
}

#Id1152207681 .namePerson::after {
    background-image: url("../img/AlejandroGiraldo.jpg");
    background-size: cover;
    background-position: center center;
}

#Id1035833246 .namePerson::after {
    background-image: url("../img/MiguelOchoa.jpg");
    background-size: cover;
    background-position: center center;
}

#Id1017229297 .namePerson::after {
    background-image: url("../img/DavidAlzate.jpg");
    background-size: cover;
    background-position: center center;
}

.desarrolloWeb::after {
    background-image: url("../img/web.svg");
    background-size: cover;
    background-position: center center;
}

.apps::after {
    background-image: url("../img/apps.svg");
    background-size: cover;
    background-position: center center;
}

.consultoria::after {
    background-image: url("../img/consultoria.svg");
    background-size: cover;
    background-position: center center;
}

:after,
:before {
    box-sizing: border-box
}

.clearfix:after,
.clearfix:before {
    content: '';
    display: table
}

.clearfix:after {
    clear: both;
    display: block
}

a {
    color: inherit;
    text-decoration: none
}

.login-wrap {
    width: 100%;
    margin: auto;
    max-width: 510px;
    min-height: 510px;
    height: auto;
    position: relative;
    background: url(../img/bg_login.png) no-repeat center;
    background-size: cover;
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, .24), 0 17px 50px 0 rgba(0, 0, 0, .19);
    margin-top: 10vh;
}

.login-html {
    width: 100%;
    height: 100%;
    position: absolute;
    padding: 90px 70px 50px 70px;
    background: rgba(7, 7, 7, 0.72);
    overflow: auto;
}

.login-html .sign-in-htm,
.login-html .for-pwd-htm {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: all .4s linear;
    transition: all .4s linear;
}

.login-html .sign-in,
.login-html .for-pwd,
.login-form .group .check {
    display: none;
}

.login-html .tab,
.login-form .group .label,
.login-form .group .button {
    text-transform: uppercase;
}

.login-html .tab {
    font-size: 22px;
    margin-right: 15px;
    padding-bottom: 5px;
    margin: 0 15px 10px 0;
    display: inline-block;
    border-bottom: 2px solid transparent;
}

.login-html .sign-in:checked+.tab,
.login-html .for-pwd:checked+.tab {
    color: #fff;
    border-color: #F50057;
}

.login-form {
    min-height: 345px;
    position: relative;
    -webkit-perspective: 1000px;
    perspective: 1000px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.login-form .group {
    margin-bottom: 15px;
}

.login-form .group .label,
.login-form .group .input,
.login-form .group .button {
    width: 100%;
    color: #fff;
    display: block;
}

.login-form .group .input,
.login-form .group .button {
    border: none;
    padding: 15px 20px;
    border-radius: 25px;
    background: rgba(255, 255, 255, .1);
}

.login-form .group input[data-type="password"] {
    text-security: circle;
    -webkit-text-security: circle;
}

.login-form .group .label {
    color: #aaa;
    font-size: 12px;
}

.login-form .group .button {
    background: #F50057;
}

.olvidar {
    background: transparent !important;
    text-decoration: underline;
}

.login-form .group label .icon {
    width: 15px;
    height: 15px;
    border-radius: 2px;
    position: relative;
    display: inline-block;
    background: rgba(255, 255, 255, .1);
}

.login-form .group label .icon:before,
.login-form .group label .icon:after {
    content: '';
    width: 10px;
    height: 2px;
    background: #fff;
    position: absolute;
    -webkit-transition: all .2s ease-in-out 0s;
    transition: all .2s ease-in-out 0s;
}

.login-form .group label .icon:before {
    left: 3px;
    width: 5px;
    bottom: 6px;
    -webkit-transform: scale(0) rotate(0);
    transform: scale(0) rotate(0);
}

.login-form .group label .icon:after {
    top: 6px;
    right: 0;
    -webkit-transform: scale(0) rotate(0);
    transform: scale(0) rotate(0);
}

.login-form .group .check:checked+label {
    color: #fff;
}

.login-form .group .check:checked+label .icon {
    background: #F50057;
}

.login-form .group .check:checked+label .icon:before {
    -webkit-transform: scale(1) rotate(45deg);
    transform: scale(1) rotate(45deg);
}

.login-form .group .check:checked+label .icon:after {
    -webkit-transform: scale(1) rotate(-45deg);
    transform: scale(1) rotate(-45deg);
}

.login-html .sign-in:checked+.tab+.for-pwd+.tab+.login-form .sign-in-htm {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.login-html .for-pwd:checked+.tab+.login-form .for-pwd-htm {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2);
}

.foot-lnk {
    text-align: center;
}

.subitems {
    color: #000 !important;
}

.nav-tabs li {
    padding: 0px 20px;
}

.logoLogin {
    position: absolute !important;
    top: 0px;
    left: 0px;
    right: 0px;
}

.inicio {
    width: 100%;
    height: auto;
    overflow: hidden;
    padding: 0 !important;
    margin: 0 !important;
    position: relative;
}

.inicio .text {
    position: absolute;
    top: 70%;
    left: 10%;
    z-index: 1000;
    color: white;
    width: 60%;
}

.inicio .text h3 {
    color: white;
    text-shadow: 2px 2px 3px #212121;
}

.inicio .text p {
    text-shadow: 2px 2px 3px #212121;
}

.button_Login {
    position: absolute;
    top: 25px;
    right: 25px;
    background-color: #F50057;
    z-index: 1000;
    padding: 3px 15px;
    color: white;
    border-radius: 50px;
}

.button_Login a {
    color: white;
    text-decoration: none;
}

.button_Login a:hover {
    color: white;
}

.tablaContacto {
    background-color: red;
}

.loginBg {
    background-image: url('../img/inicio.jpg');
    background-size: cover;
    background-color: red;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.mostrar{
    display: block !important;
    opacity: 1 !important;
}